<section class="block">
  <div class="container">
    <h2 class="heading">About Me</h2>
    <div class="box--row">
      <div class="about">
        <p class="description">
          Hello! My name is Brittany and I enjoy creating things that live on
          the internet. My interest in web development started back in 2012 when
          I decided to try editing custom Tumblr themes — turns out hacking
          together a custom reblog button taught me a lot about HTML & CSS!
        </p>
        <p class="description">
          Fast-forward to today, and I’ve had the privilege of working at
          <a href="" class="animation">an advertising agency</a>,
          <a href="" class="animation">a start-up</a>,
          <a href="" class="animation">a huge corporation</a>, and
          <a href="" class="animation">a student-led design studio</a>. My main
          focus these days is building accessible, inclusive products and
          digital experiences at Upstatement for a variety of clients.
        </p>
        <p class="description">
          I also recently launched a course that covers everything you need to
          build a web app with the Spotify API using Node & React.
        </p>
        <p class="description">
          Here are a few technologies I’ve been working with recently:
        </p>
        <div class="skills-list">
          <ul class="list list--tick skills">
            <li class="list__item">JavaScript</li>
            <li class="list__item">React.JS</li>
            <li class="list__item">Node & Express</li>
            <li class="list__item">React Native</li>
            <li class="list__item">HTML & CSS</li>
            <li class="list__item">Git & Github</li>
          </ul>
        </div>
      </div>
      <div class="me">
        <img src="./images/me.avif" alt="" width="300" height="300" />
      </div>
    </div>
  </div>
</section>
